<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DeCrapify</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>


  </head>
  <body>

    <!--
    ********************************************************************
    * Responsive Transparent Navbar
    ********************************************************************
    -->
    <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
            <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
          </button>
          <a class="navbar-brand" href="#">Your Company</a>
        </div>
        <div class="collapse navbar-collapse" id="navMain">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services and Pricing</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="banner">
      <div class="container">
        <div class="row">
          <h1>Transparent Background Example</h1>
        </div>
      </div>
    </section>


    <div class="container">
      <div class="row" style="height:800px;">
        <div class="cold-md-12">
          <h2>Page Content</h2>
          <p>This is an example of a navbar that is initially opaque, then turns into a solid background when user scrolls down the page.</p>
        </div>
      </div>
    </div>


  </body>
</html>
