

/*********
* NAV-BAR
*********/

.app-title {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 5px;
}

.app-dropdown {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 7px;
}


/*********
* BANNERS
*********/

.banner {
  background-image: url("https://media3.s-nbcnews.com/j/MSNBC/Components/Slideshows/_production/TODAY-ready/ss-140710-storage-home/ss-140710-storage-home-tease.today-ss-slide-desktop.jpg");
  width:100%;
  height: 100%;
  background-size: cover;
  min-height:600px;
}

.banner .row {
  text-align:center;
  margin-top:50px;
}

.banner h1 {
  color:white;
  padding-top: 40px;
}

.start {
  font-size: 1.5em;
  margin: 100px 0px;
  background-color: rgb(213, 126, 46);
  border: 0px;
}

.start:focus {
  outline: none;
  background-color: rgb(213, 126, 46);
}



.banner2 {
  background-image: url("https://media3.s-nbcnews.com/j/MSNBC/Components/Slideshows/_production/TODAY-ready/ss-140710-storage-home/ss-140710-storage-home-tease.today-ss-slide-desktop.jpg");
  width:100%;
  height: 100%;
  background-size: cover;
  min-height:600px;
}

.banner2 .row {
  text-align:center;
  margin-top:50px;
}

.banner2 h1 {
  padding-top: 20px;
}

.project-details {
  height: 250px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(50,50,50,0.6);
  margin-top: 80px;
  padding-top: 20px;
  border-radius: 10px;
}

.project-name {
  color: rgb(232,232,232);
  font-size: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.project-days-remaining {
  color: rgb(232,232,232);
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding-bottom: 30px;
}

.btn-add-item {
  background-color: rgba(100,100,100,0.5);
  color: rgb(232,232,232);
  margin: 0 5px;
}

.btn-ask-friend {
  background-color: rgba(100,100,100,0.5);
  color: rgb(232,232,232);
  margin: 0 5px;
}

.btn-items-buttons:focus {
  outline: none;
  color: rgb(232,232,232);
  background-color: rgba(100,100,100,0.5);
}


/************************
*  OPAQUE NAVBAR SECTION
*************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: rgba(68, 71, 83, 0.53);
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: white;
}

/******************
* Steps-How to guide
*******************/

.steps-box {
  height: 400px;
}

.steps {
  padding-top: 30px;
  margin-top: 30px;
  height: 250px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}

.steps1 {
  padding-top: 30px;
  padding-bottom: 18px;
}

.steps-how{
  margin-top: 20px;
}

/****************
* Modal
*****************/

.modal-body  {
  width: 100%;
  text-align: left;
}

/****************
* New Item Modal
*****************/

.new-item {
  text-align: center;
  height: 100px;
}

.item-button {
  margin-top: 30px;
}

/*************
* Items-list
**************/

.items-box {
  height: 250px;
  text-align: center;
  margin-top: 25px;
  display: inline-block;
}

.items-box img {
  min-height: 250px;
}

.add-item {
  padding: inherit;
}

.items-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: ridge;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

.panel-footer {
  background-color: rgb(192, 200, 204)
}

#new-project-dropdown-item {
  font-weight: 800;
}

.btn-up-votes {
  width: 90px;
}

.btn-up-votes:hover {
  background-color: rgb(204, 255, 204);
}

.btn-down-votes {
  width: 90px;
}

.btn-down-votes:hover {
  background-color: rgb(255, 173, 153);
}

.btn-up-vote-counter {
  width: 35px;
  text-align: center;
}

.btn-down-vote-counter {
  width: 35px;
}

.btn-votes:focus {
  outline: none;
}

.btn-counters:hover {
  cursor: default;
}

.btn-counters:focus {
  outline: none;
}
